---
layout: base
---

<img src="/static/tim.jpeg" style="width: 4rem; border-radius: 2rem; margin-bottom: 2rem;" />

{% include 'intro.njk' %}

<p>
  My work focuses on <strong>design systems</strong> and
  <strong>accessibility</strong>. Having a hybrid designer-developer background
  myself, I strive to improve how design and engineering teams collaborate, and
  I help scale frontend engineering practices sustainably across the whole
  organization.
</p>

<p>
  The web is a platform with enormous impact on our everyday lives, and I
  believe it should be open and inclusive to everyone, no matter their cognitive
  or physical abilities.
</p>

<p>
  In my spare time I learn Dutch, make music, ride the bicycle, and listen to
  math rock. I also make a great cup of coffee!
</p>

<p>
  <strong>Code</strong> is the material I design with. Find my open source work
  on <a href="https://github.com/tvooo/">Github</a> and my ramblings on <a href="https://twitter.com/timvonoldenburg">Twitter</a>.
</p>
