---
layout: base
tags: [pages]
title: Bookshelf
books:
  currently:
    - title: GRIP
      author: Rick Pastoor
      audio: true
    - title: Build
      author: Tony Fadell
    - title: The Pathless Path
      author: Paul Millerd
      audio: true
    - title: The Storyteller
      author: Dave Grohl
    - title: Steve Jobs
      author: Walter Isaacson
      audio: true
    - title: An Elegant Puzzle
      subtitle: Systems of Engineering Management
      author: Will Larson
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1556221385l/45303387._SX318_.jpg"
  y2023:
    - title: "I'm Glad My Mom Died"
      author: Jennette McCurdy
  y2022:
    - title: Building A Second Brain
      author: Tiago Forte
    - title: Four Thousand Weeks
      author: Oliver Burkeman
      audio: true
    - title: Why Has Nobody Told Me This Before?
      author: Julie Smith
      audio: true
    - title: "Men, Love, & Birth"
      author: Mark Harris
      audio: true
    - title: Team Topologies
      author: Matthew Skelton & Manuel Pais
    - title: The Birth Guy's Go To Guide For New Dads
      author: Brian W. Salmon
      audio: true
    - title: Designing Data-Intensive Applications
      author: Martin Kleppmann
      image: "https://dataintensive.net/images/book-cover.png"
    - title: Let My People Go Surfing
      audio: true
      author: Yvon Chouinard
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473363298l/28676166._SX318_.jpg"
    - title: How To Take Smart Notes
      author: Sönke Ahrens
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1488937626l/34507927._SY475_.jpg"
    - title: The Monk of Mokha
      audio: true
      author: Dave Eggers
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1515774725l/35215524._SY475_.jpg"
    - title: Mental Health at Work
      author: James Routledge
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1634331199l/56587393.jpg"
  y2021:
    - title: The Gifts of Imperfection
      audio: true
      author: Brené Brown
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595815760l/52578859.jpg"
    - title: Cibola Burn
      author: James S.A. Corey
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1405023040l/18656030.jpg"
    - title: The Time of Contempt
      author: Andrzej Sapkowski
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1443278961l/14781491._SY475_.jpg"
    - title: Resilient Management
      audio: true
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1557845913l/45767533._SY475_.jpg"
      author: Lara Hogan
    - title: Why the Dutch are Different
      subtitle: Into the Hidden Heart of the Netherlands
      author: Ben Coates
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1436198701l/25860139._SY475_.jpg"
    - title: The Comfort Book
      author: Matt Haig
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1617091619l/55506579._SX318_.jpg"
    - title: Reasons to Stay Alive
      author: Matt Haig
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1418674667l/23363874.jpg"
    - title: Digital Minimalism
      audio: true
      subtitle: Choosing a Focused Life in a Noisy World
      author: Cal Newport
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1549433350l/40672036._SY475_.jpg"
    - title: Humble Inquiry
      audio: true
      subtitle: The Gentle Art of Asking Instead of Telling
      author: Edgar H. Schein
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1366277164l/17381706.jpg"
    - title: Essentialism
      audio: true
      subtitle: The Disciplined Pursuit of Less
      author: Greg McKeown
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1429890563l/18070731.jpg"
    - title: The Happiness Trap
      audio: true
      author: Russ Harris
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1555477787l/3250347._SX318_.jpg"
    - title: The Life-Changing Magic of Tidying Up
      subtitle: The Japanese Art of Decluttering and Organizing 
      author: Marie Kondō
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1418767178l/22318578.jpg"
    - title: Range
      audio: true
      subtitle: Why Generalists Triumph in a Specialized World
      author: David Epstein
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1550048292l/41795733.jpg"
  y2020:
    - title: The Martian
      author: Andy Weir
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1413706054l/18007564.jpg"
    - title: Almost Everything
      subtitle: Notes on Hope
      author: Anne Lamott
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1539780476l/39203790.jpg"
    - title: Atomic Habits
      subtitle: An Easy & Proven Way to Build Good Habits & Break Bad Ones
      author: James Clear
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595278069l/54615491._SY475_.jpg"
    - title: Blood of Elves
      audio: true
      author: Andrzej Sapkowski
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1589998653l/6043781._SX318_.jpg"
    - title: Deep Work
      subtitle: Rules for Focused Success in a Distracted World
      author: Cal Newport
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1447957962l/25744928._SY475_.jpg"
    - title: Future Ethics
      author: Cennydd Bowles
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1537730826l/41975945._SY475_.jpg"
    - title: Getting Things Done
      audio: true
      subtitle: The Art of Stress-Free Productivity
      author: David Allen
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1427634749l/22573850.jpg"
    - title: How To Kill A Narcissist
      author: JH Simon
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1485956724l/33931306.jpg"
    - title: Silence
      subtitle: The Power of Quiet in a World Full of Noise
      author: Thich Nhat Hanh
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1417986000l/23149937.jpg"
    - title: The Art Of Frugal Hedonism
      subtitle: A Guide to Spending Less While Enjoying Everything More 
      author: Annie Raser-Rowland & Adam Grubb
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1476696732l/30259572._SX318_.jpg"
    - title: The Subtle Art Of Not Giving A F*ck
      subtitle: A Counterintuitive Approach to Living a Good Life
      author: Mark Manson
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1465761302l/28257707.jpg"
    - title: The Three-Body Problem
      audio: true
      author: Liu Cixin
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1415428227l/20518872.jpg"
    - title: Utopia for Realists
      author: Rutger Bregman
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1512047221l/36690518._SY475_.jpg"
    - title: Why We Sleep
      audio: true
      subtitle: The New Science of Sleep and Dreams
      author: Matthew Walker
      image: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1514887741l/36303871._SY475_.jpg"
---

<section>
  <h1>What I am reading</h1>
  <p>As a kid, in my youth, and during my studies I used to read a lot for pleasure — but with a full-time job I rarely take the time.</p>
  <p>So in early 2020, I made a decision to read more books.</p>
  <p>This part of my site serves as a reminder to myself and an open bookshelf to everyone else. Enjoy!</p>
  <h2>Currently <small>({{books.currently.length}})</small></h2>
  <ul class="books">
    {%- for book in books.currently -%}
      {% include 'book.njk' %}
    {%- endfor -%}
  </ul>
  
  <h2>2023 <small>({{books.y2023.length}})</small></h2>
  <ul class="books">
    {%- for book in books.y2023 -%}
      {% include 'book.njk' %} 
    {%- endfor -%}
  </ul>
  
  <h2>2022 <small>({{books.y2022.length}})</small></h2>
  <ul class="books">
    {%- for book in books.y2022 -%}
      {% include 'book.njk' %} 
    {%- endfor -%}
  </ul>
  
  <h2>2021 <small>({{books.y2021.length}})</small></h2>
  <ul class="books">
    {%- for book in books.y2021 -%}
      {% include 'book.njk' %}
    {%- endfor -%}
  </ul>
  
  <h2>2020 <small>({{books.y2020.length}})</small></h2>
  <ul class="books">
    {%- for book in books.y2020 -%}
      {% include 'book.njk' %}
    {%- endfor -%}
  </ul>
</section>
