---
layout: base
title: Now
tags: [pages]
date: Last Modified
---

<section>

  <p>This is my <a href="https://nownownow.com/about">/now</a> page &mdash; if you have a personal website, you should get one too.</p>

  <h1>What I'm doing now</h1>

  <ul>
    <li>At work, enabling an existing design system to scale to multiple products with distinct identities.</li>
    <li>Studying Dutch.</li>
    <li>Playing the Gothic 2 mod, <em>Chronicles of Myrtana: Archolos</em>.</li>
    <li>Watching <em>Travelers</em> and the new season of <em>The Expanse</em>.</li>
    <li>Refreshing my <em>Python</em> by building a small bookmark aggregator with Flask.</li>
    {# <li>Writing a series of posts about <em>personal task management</em>.</li> #}
    <li><a href="/bookshelf/">Reading</a> too many books at once.</li>
  </ul>
  
  <p>This page was last updated on <strong>{{page.date | readableDate}}</strong>.</p>

</section>