---
layout: base
title: Now
tags: [pages]
date: 2024-01-01
order: 1
---

<section>
  <h1>What I'm doing now</h1>
  
  <p>This is my <a href="https://nownownow.com/about">/now</a> page.</p>

  <p>I've become a father in late 2022 and most of my non-work time I focus on spending with the family. However, I found it's important for balance to do some things for myself every once in a while!</p>

  <ul>
    {# <li>At work, enabling an existing design system to scale to multiple products with distinct identities.</li> #}
    <li>I've started to enjoy <em>leatherwork</em>, crafting small wallets, card holders and pouches.</li>
    <li>Studying Dutch</li>
    <li>Researching and planning the renovation of our home</li>
    <li>I've sold some of my coffee brewers and got some new ones I'm experimenting with; right now I enjoy brewing with the <em>Origami Air, Orea v3, and Orea Big Boy</em>.
    {# <li>Watching <em>Travelers</em> and the new season of <em>The Expanse</em>.</li> #}
    {# <li>Refreshing my <em>Python</em> by building a small bookmark aggregator with Flask.</li> #}
    {# <li>Writing a series of posts about <em>personal task management</em>.</li> #}
    <li><a href="/bookshelf/">Reading</a> too many books at once.</li>
  </ul>
  
  <p>This page was last updated on <strong>{{page.date | readableDate}}</strong>.</p>

</section>
