---
layout: base
title: Now
tags: [pages]
date: Last Modified
---

<section>

  <p>This is my <a href="https://nownownow.com/about">/now</a> page &mdash; if you have a personal website, you should get one too.</p>

  <h1>What I'm doing now</h1>

  <ul>
    <li>At work, enabling an existing design system to scale to multiple products with distinct identities.</li>
    <li>Planning my <em>Dutch</em> learning curriculum for 2022, starting with the full Babbel course.</li>
    <li>Playing <em>Stardew Valley</em> once more.</li>
    <li>Watching the new season of <em>The Witcher, The Expanse, and Archer</em>.</li>
    <li>Refreshing my knowledge on <em>SQL, Express</em> and learning about <em>authentication and JWTs</em>.</li>
    <li>Writing a series of posts about <em>personal task management</em>.</li>
    <li><a href="/bookshelf/">Reading</a> too many books at once.</li>
  </ul>
  
  <p>This page was last updated on <strong>{{page.date | readableDate}}</strong>.</p>

</section>