---
title: Tim von Oldenburg
description: Tim von Oldenburg is a frontend engineer based in Utrecht.
baseurl: "https://www.tvooo.de"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}{% if "/" != page.url %} - Tim von Oldenburg{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary meta tags -->
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="code, design, javascript, react, portfolio, ux" />
    <meta name="title" content="{{ title }}">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ baseurl }}{{ page.url | url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ baseurl }}{% if image.url %}{{ image.url | imageUrl }}{% else %}/static/share.png{% endif %}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ baseurl }}{{ page.url | url }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:image" content="{{ baseurl }}{% if image.url %}{{ image.url | imageUrl }}{% else %}/static/share.png{% endif %}">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://plausible.io" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/static/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/static/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/static/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/static/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/static/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/static/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/static/mstile-310x310.png" />
    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" href="{{ baseurl }}/feed.xml" title="Tim von Oldenburg - Blog Feed" />
    <!-- Plausible Analytics -->
    <script async defer data-domain="tvooo.de" src="https://plausible.io/js/plausible.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav aria-label="Main">
        <div role="banner">
          <a href="/">
          <div class="blob" role="presentation"></div>
          </a>
          <!--<a href="/" class="{% if "/" == page.url %}active{% endif %}">Tim von Oldenburg</a>-->
        </div>
        {# <ul>
          {%- for p in collections.pages -%}
            <li {% if p.url == page.url %}aria-current="page"{% endif %}>
              <a href="{{ p.url }}">{{ p.data.title }}</a>
            </li>
            {%- endfor -%}
        </ul> #}
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>

    <footer>
        <p>Copyright <strong>Tim von Oldenburg</strong></p>
    </footer>
  </body>
</html>

