<p class="intro">
  <strong>Hej there, I'm <a href="/about/">Tim</a>, a frontend engineer based in Utrecht.</strong>
  <br />
  I currently make medical research better at
  <a href="https://www.castoredc.com/">Castor</a>.
</p>
