<p class="intro">
  <strong>Hej there, I'm <em>Tim von Oldenburg</em>, a frontend engineer based in Utrecht.<br /> I&apos;m currently building <a href="https://risecalendar.com">Rise</a>.</strong>
</p>
