---
layout: base
eleventyComputed:
  title: "TIL {{til}}"
---

<section class="til">
    {{ page.date | readableDate }}
    <h1><abbr title="Today I Learned">TIL</abbr> {{ til }}</h1>
    {{ content | safe }}
</section>