:root {
  --font-size: 115%;

  --color-blue: #007ce0;
  --color-text: #000e1a;
  --color-bg: #f8f8f8;
  --color-bg-alt: white;
  --color-grey: #666;

  --gradient: linear-gradient(
    60deg,
    #3d3393 0%,
    var(--color-blue) 50%,
    #35eb93 100%
  );

  --gradient2: linear-gradient(
    60deg,
    #3d3393 0%,
    var(--color-blue) 40%,
    #35eb93 100%
  );

  --margin-sides: 2rem;
  --margin-vertical: 4rem;
}

/*
 * Media queries
 */
@media screen and (min-width: 600px) {
  :root {
    --margin-sides: 4rem;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --font-size: 130%;
    --margin-sides: 8rem;
    --margin-vertical: 8rem;
  }
}

/* Maybe later :) */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f8f8f8;
    --color-bg: #000e1a;
    --color-bg-alt: black;
  }
} */

/*
 * Layout
 */
body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: var(--font-size);
  color: var(--color-text);
  background: var(--color-bg-alt);
}

main {
  /* max-width: 840px; */
  margin: 0px var(--margin-sides);
  padding: var(--margin-vertical) 0;
}

header,
footer {
  padding: var(--margin-vertical) var(--margin-sides);
  background: var(--color-bg);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  text-transform: lowercase;
  margin: 0 1em 0 0;
}
header li:last-child {
  margin: 0;
}
[role="banner"] {
  margin-right: 1em;
}

footer {
  /* Push it to the bottom of <body> */
  margin-top: auto;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer p {
  margin-right: 1em;
}

header > *,
main > *,
footer > * {
  max-width: 1400px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
}

/*
 * Base elements
 */
a {
  border-bottom: 0.2rem solid var(--color-text);
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
}
a:hover,
a.active,
[aria-current="page"] a {
  border-color: var(--color-blue);
}

p {
  /* max-width: 35rem; */
  max-width: 40rem;
  /* text-align: center; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 0;
  margin-bottom: 0;
}
p + p {
  margin-top: 1em;
}

img {
  max-width: 35rem;
}
li {
  max-width: 35rem;
}

small {
  color: var(--color-grey);
}

/*
 * Special elements
 */
.callout, blockquote {
  font-size: 1.2em;
  font-style: italic;
}

header a,
footer a {
  border-color: transparent;
}

.intro {
  background-image: var(--gradient);
  padding: 2rem;
}
.intro p {
  display: inline-block;
  padding: 0.2em;
  background: white;
  font-weight: bold;
}

.blob {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-image: var(--gradient);
  transition: all 0.2s 0s ease;

  margin: 0 0 2em 0;
}
.blob:hover {
  filter: grayscale(100%);
}

ul.posts {
  list-style: none;
  padding: 0;
}

.posts li {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5em 0;
}
@media screen and (min-width: 600px) {
  ul,
  ol {
    padding-left: 0;
  }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    padding-left: 1.5rem;
  }
  .posts li {
    flex-direction: row;
  }
  .posts li small {
    text-align: right;
  }
}

.posts li small {
  flex-shrink: 0;
  display: inline-block;
  width: 6em;
  margin-right: 0.3rem;
  line-height: 1.7rem;
}

.heading,
h2[content="Table of contents"] {
  font-size: 1rem;
  font-variant-caps: all-small-caps;
  color: var(--color-grey);
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;

  list-style: none;
  padding: 0;
}

.book {
  background: var(--color-bg);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
}
.book img {
  width: 100%;
  filter: grayscale(50%);
}
.book .title {
  margin: 0.5rem 0.5rem 0 0.5rem;
}
.book .subtitle {
  margin: 0 0.5rem;
}
.book .author {
  margin: 0.5rem;
}

.title-image {
  margin: 0;
  /* margin-top: -8rem; */
  max-width: 1400px;
  margin-bottom: 4rem;
  /* margin-left: auto; */
}

.title-image img {
  width: 100%;
  max-width: 1400px;
  display: block;
}

@media screen and (min-width: 1000px) {
  .title-image {
    margin-top: calc(-1 * var(--margin-vertical));
  }
  .title-image img {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }
}

.title-image figcaption {
  font-style: italic;
  margin: 0.5em;
}

.article p,
.article ul,
.article ol,
.article h1,
.article h2,
.article h3 {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.article h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 0em;
}

[role="banner"] a {
  font-weight: 400;
}

figcaption,
aside {
  text-align: center;
  color: var(--color-grey);
  /* font-style: italic; */
  font-size: 1rem;
}

aside {
  margin-top: var(--margin-vertical);
}

code {
  background: var(--color-bg);
}

pre {
  max-width: 40rem;
}

pre code {
  display: block;
  padding: 1em;
}

.footnote-ref a {
  border-color: transparent;
}
